# ðŸŽ¯ Student Score Prediction - Machine Learning Project

## Problem Statement
Predicting student academic performance is an important task in the education sector. This project aims to develop a machine learning model that predicts students' final scores based on various academic and lifestyle factors such as study hours, attendance, and previous exam results.

**Problem Type:** Regression  
**Target Variable:** Final Score  
**Approach:** Supervised Machine Learning

In [5]:
# Core libraries
import pandas as pd
import numpy as np

print("âœ… Pandas & NumPy imported")

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns

print("âœ… Matplotlib & Seaborn imported")

# Machine Learning
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

print("âœ… Scikit-learn modules imported")
print("\nðŸŽ‰ All libraries loaded successfully! Ready to start...")

âœ… Pandas & NumPy imported
âœ… Matplotlib & Seaborn imported
âœ… Scikit-learn modules imported

ðŸŽ‰ All libraries loaded successfully! Ready to start...

## 1. Data Loading

In [6]:
df= pd.read_csv("data/StudentsPerformance.csv")

In [7]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

## 2. Basic Data Cleaning
- Duplicate check
- Missing value check
- Data type validation

In [8]:
df.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [9]:
df.duplicated().sum()

np.int64(0)

In [10]:
df=df.drop_duplicates()

In [11]:
df.duplicated().sum()

np.int64(0)

In [12]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [15]:
df.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

## 3. Exploratory Data Analysis (EDA)