# ðŸŽ¯ Student Score Prediction - Machine Learning Project

## Problem Statement
Predicting student academic performance is an important task in the education sector. This project aims to develop a machine learning model that predicts students' final scores based on various academic and lifestyle factors such as study hours, attendance, and previous exam results.

**Problem Type:** Regression  
**Target Variable:** Final Score  
**Approach:** Supervised Machine Learning

In [1]:
# Core libraries
import pandas as pd
import numpy as np

print("âœ… Pandas & NumPy imported")

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns

print("âœ… Matplotlib & Seaborn imported")

# Machine Learning
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

print("âœ… Scikit-learn modules imported")
print("\nðŸŽ‰ All libraries loaded successfully! Ready to start...")

âœ… Pandas & NumPy imported
âœ… Matplotlib & Seaborn imported
âœ… Scikit-learn modules imported

ðŸŽ‰ All libraries loaded successfully! Ready to start...

In [3]:
df= pd.read_csv("data/StudentsPerformance.csv")

In [4]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75